h1 {
    font-family: 'Droid Serif', serif;
    text-align: center;
    margin-bottom: 75px;
}

.hide {
    display: none;
}

.page1ContentBox {
    text-align: center;
    font-family: sans-serif;
}

.page1Content {
    margin-bottom: 25px;
    font-size: 16px;
}

#search {

}

#search:hover {
 cursor:pointer;
}

.page2ContentBox {
    text-align: center;
    margin-top: 50px;
}

.btn {
    background-color: Transparent;
    border: none;
    outline: none;
}

.img {
    height: 40px;
}

#searchInput {
    width: 60%;
    font-size: 16px;
}

#searchBtn {
    /*height: 5px;*/
}

.header {
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 75px;
}

#resultsContainer {
    border: 2px solid red;
}

#queryResults {
    border: 2px solid blue;
    height: 350px;
    overflow-y: scroll;
    margin: 0px 20px 0px 20px;
}

.queryLinks {
    font-size: 22px;
    margin-left: 10px;
}



/* debug */
.test1{
    border: 2px solid red;
}

.test2{
    border: 2px solid blue;

    display: block;
}

.test3{
    border: 2px solid green;
    display: block;
}

.test4{
    border: 2px solid gray;
}

.test5{
    border: 2px solid deeppink;
}