body {
    font-family: 'Roboto', sans-serif;
}

#header {
    text-align: center;
    margin-bottom: 75px;
}

.hide {
    display: none;
}

.page1ContentBox {
    text-align: center;
    font-family: sans-serif;
}

.page1Content {
    margin-bottom: 25px;
    font-size: 16px;
}

#search:hover {
 cursor: pointer;
}

.page2ContentBox {
    text-align: center;
    margin-top: 50px;
}

.btn {
    background-color: Transparent;
    border: none;
    outline: none;
}

.img {
    height: 40px;
}

#searchInput {
    width: 60%;
    font-size: 16px;
}

.header {
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 75px;
}

#displayCnt {
    font-size: 16px;
    text-align: center;
}

#resultsContainer {
    border: 2px solid black;
    margin: 2%;
}

#queryResults {
    height: 350px;
    overflow-y: scroll;
}

.queryLinks {
    font-size: 22px;
    margin-left: 10px;
}

.wikiLinkPara {
    margin-top: 15px;
}

.extractText {
    margin: 0px 10px 15px 10px; 
}
