body {
    
}

div {
    
}

#navBar {
  list-style-type: none;
  background-color: green;
  
}

.navBarLink {
  display: inline;
}

.section {
  height: 500px;
}

#welcome {
  background-color:#b3d9ff;
  text-align: center;
}


#aboutMe {
  background-color:#4da6ff;
}