body {
  padding-top: 50px;
}

div {
    
}

#navBar {
  margin-bottom: 0px;
}

.section {
  height: 700px;
}

#welcome {
  background-color:#b3d9ff;
  text-align: center;
}

#welcome h1 {
  margin: 225px 0px 0px 0px;
  /*border: 5px solid gray;*/
}

#aboutMe {
  background-color:#4da6ff;
}

#experience {
  background-color:#b3d9ff;
}

#contactInfo {
  background-color:#4da6ff;
}

#titleHeader {
  text-align: center;
  padding-top: 50px;
}